<template id="loader-template">
    <div class="loader-container">
        <div class="loader loader-center"></div>
    </div>
</template>

<template id="no-data-template">
    <div class="loader-container">
        <p class="information"><span class="info">&#9432;</span> No data to display.</p>
    </div>
</template>
