html {
    background-color: #f2f2f2;
}

body {
    margin: 0;
}

.nopadding {
    padding: 0;
}

main {
    margin-top: 14px;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header.content {
    background-color: #f6f6f6;
}

#recipe-filter {
    width: 96%;
    margin: 0 auto;
    display: flex;
}

#content {
    width: 100%;
}

#recipes-list {
    width: 96%;
    margin: 0 auto;
}

ul.recipes {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.material-card-content {
    height: 72px;
    margin: 0;
    padding: 4px;
}

.material-card-action {
    height: 32px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    background-color: #3498db;
}

.material-card-button {
    color: white;
    width: 50%;
}

.material-card-button:hover {
    background-color: #ffb500;
}

.material-card-button a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, sans-serif;
}

.py-7-bluefont {
    color: #2196f3!important;
    outline: none!important;
}

.active {
    -webkit-box-shadow: inset 0 -3px 0 #2196f3;
}

.bordo-active {
    background-color: rgba(0,0,0,.7)!important;
}

.material-card {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    color: #3d4051;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    min-width: 240px;
}

nav {
    transition: all .5s ease;
    background-color: #2196f3;
    margin-bottom: 0px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

/*nav ul li:hover {
    color: white;
    background-color: #33001a;
}*/

nav ul li {
    display: block;
    height: 48px;
    padding: 0;
    color: white;
}

nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    text-transform: capitalize;
    font-family: Verdana, Geneva, sans-serif;
}

nav a.logo {
    padding: 4px 5px 1px 0px;
}

nav a.link {
    padding: 14px 15px;
}

/*nav {
    font-family: Arial;
}*/

#navHomeNav, #sidebar-wrapper {
    font-size: 14px;
}

.navbar-inverse {
    background-color: #0be;
    box-shadow: none;
}

.navbar {
    border: none;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.navbar-inverse {
    background-color: #2196f3;
    border-color: transparent;
}

nav {
    top: 0;
    border-width: 0 0 1px;
}

.cardBackground {
    background-color: #f2f2f2 !important;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.orangecard {
    background-color: #f37a20;
}

.glyphicon {
    position: absolute;
    color: white;
    font-size: 25px;
    padding-left: 15px;
    margin-top: -1px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.glyphicon-bookmark:before {
    content: "\e044";
}

.font {
    color: #0d95d3;
}

/*====== Loader icon ===========*/

.loader-container {
    width: 100%;
    min-height: 320px;
    display: flex;
    align-items: center;
}

.loader-center {
    margin: auto;
}

.loader {
    border: 8px solid #ffb500; /* Orange */
    border-radius: 50%;
    border-top: 8px solid #3498db; /* Blue */
    width: 32px;
    height: 32px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*====== Loader icon end =======*/

p.information {
    width: 50%;
    text-align: center;
    margin: auto;
    font-family: Helvetica, Verdana, Sans-Serif;
    font-size: 22px;
}

.info {
    font-weight: bold;
    font-size: 26px;
}


.btn-primary {
    color: #ffffff;
    background-color: #2196f3;
}

.btn {
    text-transform: uppercase;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    transition: all 0.4s;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    user-select: none;
}

/*{
    -webkit-box-sizing: #4b4f56;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

/*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
