<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/static/dist/compounds.bundle.js"></script>
    <title>Compounds</title>
</head>
<body>
    <% include ../partials/navigation %>
    <% include ../partials/templates %>

    <template id="compounds-template">
        <div class="material-card">
            <div id="compounds-list">
                <ul class="list-item-container" data-bind="foreach: $data.compounds()">
                    <li class="list-item-level-one" data-bind="click: pageVM.onCompoundSelection">
                        <div class="list-item-header" data-bind="css: { 'selected': $data.id === pageVM.expandedCompound() }">
                            <p data-bind="text: $data.name"></p>
                        </div>
                        <!--<div class="list-item-content" data-bind="css: { 'slideup': $data.id !== pageVM.expandedCompound(),
                         'slidedown': $data.id === pageVM.expandedCompound() }">
                            <ul class="list-item-container list-padding" data-bind="foreach: $data.compounds">
                                <li class="list-item-level-two">
                                    <p data-bind="text: $data.name"></p>
                                </li>
                            </ul>
                        </div>-->
                    </li>
                </ul>
            </div>
        </div>
</template>

    <main>
        <header class="content">
            <div id="recipe-filter" class="container">
                <input type="text" data-bind="value: $data.compoundFilter" placeholder="Search compounds starting with..." />
                <!--<input type="text" list="ingredients" data-bind="value: $data.ingredientFilter" />
            <datalist id="ingredients" data-bind="foreach: $data.ingredients"></datalist>-->
                <button class="btn" data-bind="enable: $data.previousPageButtonEnabled, click: onPreviousPage,
                        css: { 'btn-primary': $data.previousPageButtonEnabled }">
                    &#8249;
                </button>
                <select data-bind="options: $data.pager,
                        value: $data.selectedPage,
                        optionsText: 'text'"></select>
                <button class="btn" data-bind="enable: $data.nextPageButtonEnabled, click: onNextPage,
                        css: { 'btn-primary': $data.nextPageButtonEnabled }">
                    &#8250;
                </button>
            </div>
        </header>

        <div class="container">
            <section id="content" data-bind="template: { name: contentTemplate }"></section>
        </div>
    </main>

    <% include ../partials/footer %>

    <script type="text/javascript">
        window.pageVM = new ViewModels.CompoundsPageViewModel();
        ko.applyBindings(window.pageVM);
    </script>
</body>
</html>
