<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/static/dist/home.bundle.js"></script>
    <title>Home</title>
</head>
<body>
    <% include ../partials/navigation %>
    <% include ../partials/templates %>

    <% include ../partials/footer %>

    <script type="text/javascript">
        var pageVM = new ViewModels.HomePageViewModel();
        ko.applyBindings(pageVM);
    </script>
</body>
</html>
