<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/static/dist/home.bundle.js"></script>
    <title>Home</title>
</head>
<body>
<p>Home</p>
</body>
</html>
