<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/static/dist/ingredients.bundle.js"></script>
    <title>Ingredients</title>
</head>
<body>
    <% include ../partials/navigation %>
    <% include ../partials/templates %>

    <template id="ingredients-template">
        <div class="material-card">
            <div id="ingredients-list">
                <ul class="list-item-container" data-bind="foreach: $data.ingredients()">
                    <li class="list-item-level-one" data-bind="click: pageVM.onIngredientSelection">
                        <div class="list-item-header" data-bind="css: { 'selected': $data.id === pageVM.expandedIngredient() }">
                            <p data-bind="text: $data.name"></p>
                        </div>
                        <!--<div class="list-item-content" data-bind="css: { 'slideup': $data.id !== pageVM.expandedIngredient(),
                         'slidedown': $data.id === pageVM.expandedIngredient() }">
                        <ul class="list-item-container list-padding" data-bind="foreach: $data.compounds">
                            <li class="list-item-level-two">
                                <p data-bind="text: $data.name"></p>
                            </li>
                        </ul>
                    </div>-->
                    </li>
                </ul>
            </div>
        </div>
</template>

    <main>
        <div class="container">
            <header class="content">
                <div id="recipe-filter">
                    <input type="text" data-bind="value: $data.ingredientFilter" placeholder="Search ingredients starting with..." />
                    <!--<input type="text" list="ingredients" data-bind="value: $data.ingredientFilter" />
                    <datalist id="ingredients" data-bind="foreach: $data.ingredients"></datalist>-->
                    <button class="btn" data-bind="enable: $data.previousPageButtonEnabled, click: onPreviousPage,
                        css: { 'btn-primary': $data.previousPageButtonEnabled }">
                        &#8249;
                    </button>
                    <select data-bind="options: $data.pager,
                        value: $data.selectedPage,
                        optionsText: 'text'"></select>
                    <button class="btn" data-bind="enable: $data.nextPageButtonEnabled, click: onNextPage,
                        css: { 'btn-primary': $data.nextPageButtonEnabled }">
                        &#8250;
                    </button>
                </div>
            </header>

            <section id="content" data-bind="template: { name: contentTemplate }"></section>
        </div>
    </main>

    <% include ../partials/footer %>

    <script type="text/javascript">
        window.pageVM = new ViewModels.IngredientsPageViewModel();
        ko.applyBindings(window.pageVM);
    </script>
</body>
</html>
