<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/static/dist/recipe.bundle.js"></script>
    <script type="text/javascript">var __RECIPE__ = "<%- recipe %>";</script>
    <title>Recipe</title>
</head>
<body>
    <% include ../partials/navigation %>

    <ul data-bind="foreach: cards">
        <li class="card material-card">
            The current item is: <b data-bind="text: $data"></b>
        </li>
    </ul>

    <% include ../partials/footer %>

    <script type="text/javascript">
        ko.applyBindings(new ViewModels.RecipePageViewModel(__RECIPE__));
    </script>
</body>
</html>
