<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/static/dist/recipe.bundle.js"></script>
    <script type="text/javascript">var __RECIPE__ = "<%- recipe %>";</script>
    <title>Recipe</title>
</head>
<body>
    <% include ../partials/navigation %>
    <% include ../partials/templates %>

    <template id="recipe-content-template">
        <div class="material-card">
            <section id="recipe-content" data-bind="if: $data.recipe() !== null">
                <ul data-bind="foreach: $data.recipe().ingredients">
                    <li class="list-item-level-one" data-bind="click: pageVM.onIngredientSelection">
                        <div class="list-item-header">
                            <p data-bind="text: $data.name"></p>
                        </div>
                        <div data-bind="css: { 'slideup': $data.id !== pageVM.expandedIngredient(),
                         'slidedown': $data.id === pageVM.expandedIngredient() }">
                            <ul data-bind="foreach: $data.compounds">
                                <li class="list-item-level-two">
                                    <p data-bind="text: $data.name"></p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </template>

    <main>
        <div class="container">
            <section id="content" data-bind="template: { name: contentTemplate }"></section>
        </div>
    </main>

    <% include ../partials/footer %>

    <script type="text/javascript">
        window.pageVM = new ViewModels.RecipePageViewModel(__RECIPE__);
        ko.applyBindings(window.pageVM);
    </script>

</body>
</html>
