<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/static/dist/recipes.bundle.js"></script>
    <title>Recipes</title>
</head>
<body>
    <% include ../partials/navigation %>
    <% include ../partials/templates %>

    <template id="recipes-template">
        <div id="recipes-list">
            <ul class="recipes" data-bind="foreach: recipes">
                <li class="material-card">
                    <div class="material-card-content">
                        <div class="small-recipe-image">
                            <img />
                        </div>
                        <div class="short-recipe-info">
                            <p class="short-info" data-bind="text: $data.name"></p>
                            <p class="short-cuisine" data-bind="text: $data.cuisine.name"></p>
                        </div>
                    </div>
                    <div class="material-card-action">
                        <div class="material-card-button">
                            <a data-bind="attr: { href: 'recipe/' + $data.id, title: 'View' }">
                                <span class="view-icon"></span>
                                <span data-bind="text: 'View'"></span>
                            </a>
                        </div>
                        <div class="material-card-button">
                            <a data-bind="attr: { href: 'transform-recipe/' + $data.id, title: 'Transform' }">
                                <span class="transform-icon"></span>
                                <span data-bind="text: 'Transform'"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </template>
    
    <main>
        <header class="content">
            <div id="recipe-filter" class="container">
                <input class="recipe-search" type="text"
                       data-bind="value: $data.recipeFilter" placeholder="Search recipes starting with..." />
                <select class="ingredient-select marginleft10" data-bind="options: $data.ingredients,
                       optionsText: 'name',
                       value: ingredientFilter,
                       optionsCaption: 'Choose ingredient...'">
                </select>
                <select class="cuisine-select marginleft10" data-bind="options: $data.cuisines,
                       optionsText: 'name',
                       value: cuisineFilter,
                       optionsCaption: 'Choose cuisine...'">
                </select>
                <button class="btn marginleft10" data-bind="enable: $data.previousPageButtonEnabled, click: onPreviousPage,
                    css: { 'btn-primary': $data.previousPageButtonEnabled }">
                    &#8249;
                </button>
                <select class="marginleft10" data-bind="options: $data.pager,
                    value: $data.selectedPage,
                    optionsText: 'text'"></select>
                <button class="btn marginleft10" data-bind="enable: $data.nextPageButtonEnabled, click: onNextPage,
                    css: { 'btn-primary': $data.nextPageButtonEnabled }">
                    &#8250;
                </button>
            </div>
        </header>

        <div class="container">
            <section id="content" data-bind="template: { name: contentTemplate }"></section>
        </div>
    </main>

    <% include ../partials/footer %>

    <script type="text/javascript">
        window.pageVM = new ViewModels.RecipesPageViewModel();
        ko.applyBindings(window.pageVM);
    </script>
</body>
</html>
