<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/static/dist/recipes.bundle.js"></script>
    <title>Recipes</title>
</head>
<body>
    <% include ../partials/navigation %>
    <% include ../partials/templates %>

    <template id="recipes-template">
        <div id="recipes-list">
            <ul data-bind="foreach: recipes">
                <li class="card material-card">
                    The current item is: <b data-bind="text: $data.name"></b>
                </li>
            </ul>
        </div>
    </template>
    
    <main>
        <header class="content">
            <h1 data-bind="text: $data.pageTitle"></h1>
            <div id="recipe-filter">
                <input type="text" data-bind="value: $data.recipeFilter" placeholder="Search recipes starting with..." />
                <!--<input type="text" list="ingredients" data-bind="value: $data.ingredientFilter" />
                <datalist id="ingredients" data-bind="foreach: $data.ingredients"></datalist>-->
                <button class="btn" data-bind="enable: $data.previousPageButtonEnabled, click: onPreviousPage,
                        css: { 'btn-primary': $data.previousPageButtonEnabled }">&#8249;</button>
                <select data-bind="options: $data.pager,
                        value: $data.selectedPage,
                        optionsText: 'text'"></select>
                <button class="btn" data-bind="enable: $data.nextPageButtonEnabled, click: onNextPage,
                        css: { 'btn-primary': $data.nextPageButtonEnabled }">&#8250;</button>
            </div>
        </header>

        <section id="content" data-bind="template: { name: contentTemplate }"></section>
    </main>

    <% include ../partials/footer %>

    <script type="text/javascript">
        window.pageVM = new ViewModels.RecipesPageViewModel();
        ko.applyBindings(window.pageVM);
    </script>
</body>
</html>
